<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
   <div class="modal-content form-content">
     <div class="modal-header form-content">
       <h5 class="modal-title" id="exampleModalLabel">Quel est votre projet ?</h5>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body">
       <div class="container form-container">
         <% new_contact = Contact.new %>
         <%= simple_form_for(new_contact) do |f| %>
           <div class="form-top">
             <%= f.input :name, placeholder: "votre nom" %>
             <%= f.input :email, placeholder: "votre email" %>
             <%= f.input :phone, placeholder: "votre n° de télépĥone" %>
             <div class="form_cards">
               <div>
                 <%= f.label :tout, class:"gift-choice" %>
                 <%= f.check_box :tout, class:"d-none" %>
               </div>
               <div>
                 <%= f.label :electricite, class:"gift-choice" %>
                 <%= f.check_box :electricite, class:"d-none" %>
               </div>
               <div>
                 <%= f.label :plombier, class:"gift-choice" %>
                 <%= f.check_box :plombier, class:"d-none" %>
               </div>
               <div>
                 <%= f.label :amenagement_interieur, class:"gift-choice" %>
                 <%= f.check_box :amenagement_interieur, class:"d-none" %>
               </div>
               <div>
                 <%= f.label :maconnerie, class:"gift-choice" %>
                 <%= f.check_box :maconnerie, class:"d-none" %>
               </div>
               <div>
                 <%= f.label :cheminee, class:"gift-choice" %>
                 <%= f.check_box :cheminee, class:"d-none" %>
               </div>
               <div>
                 <%= f.label :peinture, class:"gift-choice" %>
                 <%= f.check_box :peinture, class:"d-none" %>
               </div>
               <div>
                 <%= f.label :menuiserie, class:"gift-choice" %>
                 <%= f.check_box :electricite, class:"d-none" %>
               </div>
               <div>
                 <%= f.label :amenagement_exterieur, class:"gift-choice" %>
                 <%= f.check_box :amenagement_exterieur, class:"d-none" %>
               </div>
               <div>
                 <%= f.label :couverture, class:"gift-choice" %>
                 <%= f.check_box :couverture, class:"d-none" %>
               </div>
               <div>
                 <%= f.label :terrassement, class:"gift-choice" %>
                 <%= f.check_box :terrassement, class:"d-none" %>
               </div>
               <div>
                 <%= f.label :carrelage, class:"gift-choice" %>
                 <%= f.check_box :carrelage, class:"d-none" %>
               </div>
             </div>
             <%= f.input :message, label: 'Décrivez votre projet (facultatif)', as: :text, placeholder: "Ma demande concerne..." %>
           </div>
           <div class="form-button">
            <%= f.submit "Soumettre", class: 'btn btn-primary'%>
           </div>
         <% end %>
       </div>
     </div>
   </div>
  </div>
</div>
