<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
   <div class="modal-content form-content">
     <div class="modal-header form-content">
       <h5 class="modal-title" id="exampleModalLabel">Quel est votre projet ?</h5>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body">
       <div class="container form-container">
         <% new_contact = Contact.new %>
         <%= simple_form_for(new_contact) do |f| %>
           <div class="form-top">
             <%= f.input :name, placeholder: "votre nom" %>
             <%= f.input :email, placeholder: "votre email" %>
             <%= f.input :phone, placeholder: "votre n° de télépĥone" %>
             <fieldset class="form-group required">
               <input type="hidden" name="number" value="">
               <h3>Votre projet concerne des travaux de ?</h3>

               <div class="form_cards">
                 <input class="d-none required" type="radio" value="1" name="1" id="1">
                 <label class="form-check-label-gift d-flex collection_radio_buttons gift-choice" for="1">
                   <p>Peinture</p>
                 </label>
                 <input class="d-none required" type="radio" value="2" name="2" id="2">
                 <label class="form-check-label-gift d-flex collection_radio_buttons gift-choice" for="2">
                   <p>Carrelage</p>
                 </label>
                 <input class="d-none required" type="radio" value="3" name="3" id="3">
                 <label class="form-check-label-gift d-flex collection_radio_buttons gift-choice" for="3">
                   <p>Plomberie</p>
                 </label>
                 <input class="d-none required" type="radio" value="4" name="4" id="4">
                 <label class="form-check-label-gift d-flex collection_radio_buttons gift-choice" for="4">
                   <p>Menuiserie</p>
                 </label>
                 <input class="d-none required" type="radio" value="5" name="5" id="5">
                 <label class="form-check-label-gift d-flex collection_radio_buttons gift-choice" for="5">
                   <p>Electricité</p>
                 </label>
                  <input class="d-none required" type="radio" value="6" name="6" id="6">
                 <label class="form-check-label-gift d-flex collection_radio_buttons gift-choice" for="6">
                   <p>TOUT</p>
                 </label>
               </div>
             </fieldset>
             <%= f.input :message, label: 'Décrivez votre projet (facultatif)', as: :text, placeholder: "Ma demande concerne..." %>

             <!-- <label class="select optional" for="sport_session_location">Where are you heading?</label>
             <input type="text" name="sport_session[location]" id="sport_session[location]" value="" style="text-align: left; position: relative; vertical-align: top; width: 100%" class="search_query" placeholder="Anywhere">

             TO DO: BUTTON FOR SELECT CATEGORY AS ACTIVITY CHOICE IN GOM PROJECT
-->
           </div>
           <div class="form-button">
            <%= f.submit "Soumettre", class: 'btn btn-primary'%>
           </div>
         <% end %>
       </div>
     </div>
   </div>
  </div>
</div>
