<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
   <div class="modal-content form-content">
     <div class="modal-header form-content">
       <h5 class="modal-title" id="exampleModalLabel">Quel est votre projet ?</h5>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body">
       <div class="container form-container">
         <% new_contact = Contact.new %>
         <%= simple_form_for(new_contact) do |f| %>
           <div class="form-top">
             <%= f.input :name, label:"Nom"%>
             <%= f.input :email, label: "Email" %>
             <%= f.input :phone, label: "N° de téléphone" %>
             <div class="form_cards">
               <div>
                 <%= f.label :tout, class:"gift-choice" %>
                 <%= f.check_box :tout, class:"d-none" %>
               </div>
               <div>
                 <%= f.label :electricite, label:"Electricité", class:"gift-choice" %>
                 <%= f.check_box :electricite, class:"d-none" %>
               </div>
               <div>
                 <%= f.label :plombier, label:"Plombier", class:"gift-choice" %>
                 <%= f.check_box :plombier, class:"d-none" %>
               </div>
               <div>
                 <%= f.label :agencement, label:"Agencement", class:"gift-choice" %>
                 <%= f.check_box :agencement, class:"d-none" %>
               </div>
               <div>
                 <%= f.label :maconnerie, label:"Maçonnerie",class:"gift-choice" %>
                 <%= f.check_box :maconnerie, class:"d-none" %>
               </div>
               <div>
                 <%= f.label :cheminee, label:"Cheminée",class:"gift-choice" %>
                 <%= f.check_box :cheminee, class:"d-none" %>
               </div>
               <div>
                 <%= f.label :peinture, label:"Peinture", class:"gift-choice" %>
                 <%= f.check_box :peinture, class:"d-none" %>
               </div>
               <div>
                 <%= f.label :menuiserie, label:"Menuiserie", class:"gift-choice" %>
                 <%= f.check_box :menuiserie, class:"d-none" %>
               </div>
               <div>
                 <%= f.label :couverture, label:"Couverture", class:"gift-choice" %>
                 <%= f.check_box :couverture, class:"d-none" %>
               </div>
               <div>
                 <%= f.label :carrelage, label:"Carrelage", class:"gift-choice" %>
                 <%= f.check_box :carrelage, class:"d-none" %>
               </div>
               <div>
                 <%= f.label :terrassement, label:"Terrassement", class:"gift-choice" %>
                 <%= f.check_box :terrassement, class:"d-none" %>
               </div>
                <div>
                 <%= f.label :plaquiste, label:"Plaquiste", class:"gift-choice" %>
                 <%= f.check_box :plaquiste, class:"d-none" %>
               </div>
               <div>
                 <%= f.label :chauffagiste, label:"Chauffagiste", class:"gift-choice" %>
                 <%= f.check_box :chauffagiste, class:"d-none" %>
               </div>
               <div>
                 <%= f.label :terrassement2, label:"Aménagement extérieur", class:"gift-choice" %>
                 <%= f.check_box :terrassement2, class:"d-none" %>
               </div>
<!--  -->
             </div>
             <%= f.input :message, label: 'Décrivez votre projet (facultatif)', as: :text, placeholder: "Ma demande concerne..." %>
           </div>
           <div class="form-button">
            <%= f.submit "Soumettre", class: 'button'%>
           </div>
         <% end %>
       </div>
     </div>
   </div>
  </div>
</div>
