<div class="sidebar">
<!--   <button type="button" class="button-contact" data-toggle="modal" data-target="#exampleModal">
  </button> -->
  <img src="../assets/contact-button.png" data-toggle="modal" data-target="#exampleModal">
  <%= link_to "Agenceur", root_path(anchor: 'agenceur')%>
  <%= link_to "Carreleur", root_path(anchor: 'Carreleur')%>
  <%= link_to "Cheminées", root_path(anchor: 'Cheminées')%>
  <%= link_to "Couvreur", root_path(anchor: 'Couvreur')%>
  <%= link_to "Electricien", root_path(anchor: 'Electricien')%>
  <%= link_to "Maçon", root_path(anchor: 'Maçon')%>
  <%= link_to "Menuisier", root_path(anchor: 'Menuisier')%>
  <%= link_to "Peintre", root_path(anchor: 'Peintre')%>
  <%= link_to "Plaquiste", root_path(anchor: 'Plaquiste')%>
  <%= link_to "Plombier", root_path(anchor: 'Plombier')%>
  <%= link_to "Terrassement", root_path(anchor: 'Terrassement')%>
<!--   <a href="#">Agenceur</a>
  <a href="#">Carreleur</a>
  <a href="#">Cheminées</a>
  <a href="#">Couvreur</a>
  <a href="#">Electricien</a>
  <a href="#">Maçon</a>
  <a href="#">Menuisier</a>
  <a href="#">Peintre</a>
  <a href="#">Plaquiste</a>
  <a href="#">Plombier</a>
  <a href="#">Terrassement</a> -->
</div>
