<div>
  <div class="home">
    <img style="display: block; margin: auto; width: 60vw;" src="../assets/logo_bis.png" alt="Groupement des Artisans du Calvados">
    <p class="subtitle_logo">GROUPEMENT DES ARTISANS DU CALVADOS</p>
    <div class="resume">
      <p class="animate__animated animate__backInLeft resume-left"><strong>GA14, le Groupement des Artisans du Calvados</strong> a été créé grâce à la collaboration de professionnels spécialisés dans les différents domaine du BTP pour vous garantir un travail de qualité, le respect des délais et votre entière satisfaction.</p>
      <span style="display: flex; align-items: center; justify-content: center;">
       <p><strong>NOTRE AMBITION : faire de votre projet une réalité !</strong></p>
      </span>
      <p class="animate__animated animate__backInRight resume-right">De plus, les membres du <strong>GA14 sont des professionnels</strong> qui jouissent de plusieurs années d'expérience, des professionnels reconnus, certifiés dans le secteur du BTP, vous garantissant une qualité de travail et des prestations qui répondent à vos attentes et vos envies.</p>
    </div>
    <div class="realisation">
      <div class="blueline">
        <span style="border:2px solid #0f738a; width: 15%; height: 2px;"></span>
        <h3>Les dernières réalisations de nos artisans</h3>
        <span style="border:2px solid #0f738a; width: 15%; height: 2px;"></span>
      </div>
      <br>
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block" src="../assets/dressing.jpg">
          </div>
          <div class="carousel-item">
            <img class="d-block" src="../assets/cheminee1.jpg" >
          </div>
          <div class="carousel-item">
            <img class="d-block" src="../assets/baie.png">
          </div>
          <div class="carousel-item">
            <img class="d-block" src="../assets/aze12.jpg">
          </div>
          <div class="carousel-item">
            <img class="d-block" src="../assets/apres1.jpg">
          </div>
        </div>
      </div>
    </div>
    <br>
    <h3 style="margin-top: 32px; text-align: center">Retrouvez les membres du GA14</h3>
    <div class="cards">
      <div class="card silver shine-3s " id="Terrassement">
        <img src="../assets/marie.jpg" alt="Terrasement Aménagement Marie" style="max-width: 70%; height: auto;">
        <div style="margin-bottom: 16px;">
          <p>Terrassement - Clôtures - Assainissement<br>Aménagement de cours</p>
          <p>Route de Condé sur Noireau<br>14110 SAINT GERMAIN DU CRIOULT<br><strong>02 31 69 31 55</strong> - <strong>06 26 82 72 95</strong><br><strong>sarlmarie.tp@gmail.com</strong></p>
          <%= link_to entreprisemarie_path do %>
            <span class="button">voir leur site</span>
          <% end %>
        </div>
      </div>
      <div class="card silver shine-6s" id="Maçon">
        <img src="../assets/aze_logo.png" alt="Entreprise de maçonnerie et gros oeuvre" style="max-width: 60%; height: auto;">
        <div style="margin-bottom: 16px;">
          <p>Entreprise de maçonnerie et gros oeuvre à Caen<br>Elle réalise des travaux de construction ou de rénovation.</p>
          <p>7 rue du Pont Rouge 14320 LAIZE LA VILLE<br><strong>06 19 76 08 21</strong> - <strong>aze2j@live.fr</strong></p>
          <%= link_to aze_path do %>
            <span class="button">voir leur site</span>
          <% end %>
        </div>
      </div>
      <div class="card silver shine-3s" id="Couvreur">
        <img src="" alt="Couverture Charpente Terrasse Bois">
        <h5>TONY DENIAUX</h5>
        <div style="margin-bottom: 16px;">
          <p>Couverture - Charpente - Terrasse Bois<br>Bardage - Isolation<br></p>
          <p>11 impasse de la Teinture 14690 LE BÔ<br><strong>02 31 09 47 36</strong> - <strong>06 16 38 59 51</strong></p>
          <%= link_to deniaux_couverture_path do %>
            <span class="button">voir leur site</span>
          <% end %>
        </div>
      </div>
      <div class="card silver shine-3s" id="Plombier">
        <img src="../assets/poncet.jpg" alt="plomberie et chauffage" style="max-width: 70%; height: auto;">
        <div style="margin-bottom: 16px;">
          <p>Entreprise du bâtiment spécialisée dans <br>les travaux de plomberie et chauffage.</p>
          <br>
          <p>Lieu-dit la Pépinerie 14250 TESSEL<br><strong>06 25 15 05 70</strong> - <strong>poncetemilien@hotmail.fr</strong></p>
          <%= link_to poncetsas_path do %>
            <span class="button">voir leur site</span>
          <% end %>
        </div>
      </div>
      <div class="card silver shine-6s" id="Electricien">
        <img src="../assets/lfelec.png" alt="électricité" style="max-width: 70%; height: auto;">
        <div style="margin-bottom: 16px;">
          <p>Entreprise d'électricité générale</p>
          <p>Curcy sur Orne<br>14220 THURY-HARCOURTAIZE LA VILLE<br><strong>09 52 52 15 04</strong> - <strong>06 18 24 69 96</strong><br><strong>f.lefortier@gmail.com</strong></p>
          <%= link_to lfelec_path do %>
            <span class="button">voir leur site</span>
          <% end %>
        </div>
      </div>
      <div class="card silver shine-6s" id="Carreleur">
        <img src="../assets/mattard.png" alt="carrelage Mattard" style="max-width: 70%; height: auto;">
        <div style="margin-bottom: 16px;">
          <p>Artisan carreleur dans le Calvados.</p>
          <p>Chemin Croix Saint Pierre<br>14670 SAINT-PAIR<br><strong>02 31 39 84 50</strong> - <strong>06 28 32 96 76</strong><br><strong>stephmatt.carrelage@aliceadsl.fr</strong></p>
          <a href="https://www.mattard-carrelage.fr/" class="button">voir leur site</a>
        </div>
      </div>
      <div class="card silver shine-6s" id="Menuisier">
        <img src="../assets/logikinov.png" alt="menuiserie logikinov" style="max-width: 30%; height: auto;">
        <div style="margin-bottom: 16px;">
          <p>Menuisier pour la pose de Fenêtre, Porte d'entrée,<br>Porte de garage, Portail, Volet, Store<br>Pergola, Terrasse, Isolation.</p>
          <p>Allée 1 - Avenue des Digues - Zone Normandika<br>14123 FLEURY SUR ORNE<br><strong>02 31 52 00 78</strong> - <strong>benoit.briere@logikinov.com</strong></p>
          <a href="https://www.logikinov.com/" class="button">voir leur site</a>
        </div>
      </div>
      <div class="card silver shine-3s" id="Plaquiste">
        <img src="../assets/rl_amenagement.png" alt="plaquiste" style="max-width: 60%; height: auto;">
        <div style="margin-bottom: 16px;">
          <p>Artisan plaquiste</p>
          <br>
          <p>RD n°37 - Le Fresned'Argences<br>14370 ARGENCES<br><strong>07 81 16 93 81</strong> - <strong>a.lefrancois@rlamenagement.com</strong></p>
          <a href="#" class="button">voir leur site</a>
        </div>
      </div>
      <div class="card silver shine-6s" id="Peintre">
        <img src="../assets/picant.png" alt="Peinture décoration, revêtement sols et murs" style="max-width: 50%; height: auto;">
        <div style="margin-bottom: 16px;">
          <p>Peinture décoration, revêtement sols et murs<br>Ravalement - Vitrerie</p>
          <p>Route de Bougy 14210 EVRECY<br><strong>02 31 80 44 00</strong> - <strong>06 82 15 04 89</strong></p>
          <a href="https://www.peinture-picant.com/" class="button">voir leur site</a>
        </div>
      </div>
      <div class="card silver shine-3s" id="agenceur">
        <img src="../assets/profilamenagement.png" alt="profil amenagement" style="max-width: 50%; height: auto;">
        <div style="margin-bottom: 16px;">
          <p>Spécialisé dans l'agencement de cuisines,<br>salles de bain et mobiliers sur mesure.</p>
          <br>
          <p>ZA des Cerisiers 14210 EVRECY<br><strong>02 31 28 06 00</strong> - <strong>06 60 87 18 16</strong><br><strong>profil@profil-amenagement.com</strong></p>
          <a href="https://www.profil-amenagement.fr" class="button">voir leur site</a>
        </div>
      </div>
      <div class="card silver shine-3s" id="Cheminées">
        <img src="../assets/benoist.png" alt="Cheminées Benoist" style="max-width: 50%; height: auto;">
        <div style="margin-bottom: 16px;">
          <p>Distribue et installe les plus grandes marques<br>de poële à bois, à granulés, inserts, cheminées bois, gaz, métalliques<br>à retrouver dans 2 show-rooms :<br>14470 COURSEULLES SUR MER<br>14120 MONDEVILLE</p>
          <p><strong>contact@benoist.fr</strong></p>
          <a href="https://www.benoist.fr/" class="button">voir leur site</a>
        </div>
      </div>
      <div class="card-ga14">
        <img src="../assets/logo.png" alt="Groupement des artisans du Calvados" style="max-width: 80%; height: auto;">
        <div style="margin-bottom: 16px;">
          <h5>Des travaux ? Un projet ?</h5>
          <p>N'hésitez pas à contacter <br>nos artisans</p>
          <img src="../assets/contact-button.png" data-toggle="modal" data-target="#exampleModal" id="img-contact-house">
        </div>
      </div>
    </div>
    <div class="label d-none" id="js-animation">
      <h3>Vos travaux en toute confiance et en toute sécurité</h3>
      <div class="labels">
        <img src="../assets/qualibat.png" alt="qualibat rge">
        <img src="../assets/labelartisan.jpg" alt="label artisan rge">
        <img src="../assets/qualibois.png" alt="qualibois rge">
        <img src="../assets/logo.png" alt="GA14 artisans du Calvados">
      </div>
    </div>
  </div>
</div>
